

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #293b61;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.home-container{
  font-size: 25px;
}

.home-container > h1 {
  text-align: center;
  font-size:45px;
}

.home-container > ul {
  padding-top: 25px;
}

.home-list{
 
}

.home-list > li{
  padding-top: 20px;
  list-style: none;
  font-size: 30px;
}

.home-list > li:hover{
  padding-top: 5px;
  font-size:35px;
  cursor: pointer;
  list-style: none;
}

body{
  background-color: #b9c9ec;
  color: rgb(9, 20, 41);
}

#root{
  height:100%;
  max-width: 1200px;
  margin: auto;
  
}
